<meta charset="utf-8">

<!-- Font Noto Sans JP -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
<style>
    * {
        font-family: 'Noto Sans JP', sans-serif;
    }
</style>

<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<style>
    #drop-area {
        display: block;
        margin: 0 auto;
        padding: 7px 13px;
        height: 30vw;
        max-height: 300px;
        border: solid #ccc 1px;
        border-radius: 5px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        text-decoration: none;
    }
    #file-upload-form input[type="file"] {
        display: none;
    }
    #file-upload-form #drop-area .default-text {
        color: #777;
        line-height: 30px;
    }
    #file-upload-form #drop-area .file-names {
        padding: 3px 5px;
        color: #555;
        line-height: 30px;
        background-color: rgba(255, 255, 255, 0.6);
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.6);
    }
</style>